<mat-card class="book-card">
  <mat-card-header class="header">
    <mat-card-title> {{ status.name }} </mat-card-title>
    <!-- TODO: Make a get availability status method for assets or get an Asset object -->
  </mat-card-header>
  <img
    class="cover-img"
    mat-card-image
    src="../../assets/images/book-cover.jpg"
    alt="Book cover photo"
    (click)="toBookProfile(book.assetId)"
  />
  <!-- TODO: src="{{book.asset.ImageUrl}}" -->
  <mat-card-content>
    <p class="title" (click)="toBookProfile(book.assetId)">{{ book.title }}</p>
    <p class="author">{{ book.author }}</p>
    <p class="type"><fa-icon [icon]="faBookOpen"></fa-icon> BOOK</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="borrow" 
      (click)="toBookProfile(book.assetId)"
      *ngIf="isLoggedIn() && isBorrowed == true">
      BORROWED
    </button>
    <button mat-button class="borrow" 
      (click)="toBookProfile(book.assetId)"
      *ngIf="isLoggedIn() && isBorrowed == false">
      BORROW
    </button>
    <button
      *ngIf="isLoggedIn() && isBookmarked == true"
      (click)="removeBookmark();"
      mat-button
      class="bookmark"
    >
      <fa-icon [icon]="faBookmarkSolid"></fa-icon>
    </button>
    <button
      *ngIf="isLoggedIn() && isBookmarked == false"
      (click)="addBookmark();"
      mat-button
      class="bookmark"
    >
      <fa-icon [icon]="faBookmarkRegular"></fa-icon>
    </button>
  </mat-card-actions>
</mat-card>
