.book-card.mat-card {
    max-width: 100%;
    background-color: white;
    //max-height: 400px;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    margin-bottom: 8px;
    //border-radius: 1% !important;
}

.mat-card-header.header {
    background-color: orange;
}

.mat-card-image.cover-img {
    display: block;
    //max-width: 100%;
    //max-height: 100%;
    width: 100% !important;
    height: 300px !important;
    margin: 0;
    object-fit: fill !important;
}

.header {
    justify-content: center;
    padding-top: 0.5em;
}

.mat-card-content {
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 0.5em;
}

.title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.author {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.mat-card-header .mat-card-title {
    margin-bottom: 8px;
}

.mat-card-actions {
    padding-bottom: 0.5em !important;
    padding-left: 0;
    margin: 0;
}

.borrow {
    padding-left: 1em;
}

.bookmark {
    float: right;
}