<mat-card class="book-card">
    <mat-card-header class="header">
        <mat-card-title> Available </mat-card-title> <!-- TODO: Make a get availability status method for books or get an Asset object -->
    </mat-card-header>
    <img class="cover-img" mat-card-image src="../../assets/images/book-cover.jpg"
        alt="Book cover photo">                      <!-- TODO: src="{{book.asset.ImageUrl}}" -->
    <mat-card-content>
        <p class="title">{{book.title}}</p>
        <p class="author">{{book.author}}</p>
        <p class="type"><fa-icon [icon]="faBookOpen"></fa-icon> BOOK</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="borrow">BORROW</button>
        <button mat-button class="bookmark"><fa-icon [icon]="faBookmark"></fa-icon></button>
    </mat-card-actions>
</mat-card>
