<app-header></app-header>
<div class="container-fluid">
  <div class="banner">
    <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="accent"
        maxWidth="1500"
        proportion="25"
        slides="3"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
    >
        <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false"
        ></mat-carousel-slide>
    </mat-carousel>
  </div>

  <!-- TODO: ML based suggestion system section -->

  <div class="books-preview">
    <h3>Popular books to choose from...</h3>
    <br>
  </div>

  <carousel
    [height] = "600"
    [cellWidth] = "350"
  >
    <div *ngFor="let book of books" class="carousel-cell">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </carousel>

  <div class="books-preview">
    <h3>Books recommended for you</h3>
  </div>

  <carousel *ngIf="isLoggedIn()"
    [height] = "600"
    [cellWidth] = "350"
  >
    <div *ngFor="let recommended of recommendedBooks" class="carousel-cell">
      <app-book-card [book]="recommended"></app-book-card>
    </div>
  </carousel>

  <div class="books-preview">
    <h3>Popular ebooks to download...</h3>
  </div>
</div>
