.container-fluid {
    max-width: 100%;
    padding-left: 3em;
    padding-right: 3em;
}

.card-container {
    height: auto;
}

.banner {
    margin-bottom: 2em;
}

.books-preview {
    color: white;
}