mat-dialog-container {
    background: #373c34 !important;
}

.notif-container {
    max-width: 80%;
    //white-space: wrap;
    //background-color: #373c34 !important;
}

.notif-list {
    max-width: 100%;
}