h3 {
    color: white;
    margin-left: 76px;
}

.search-bar {
    margin-left: 76px;
    border-radius: 5px;
}

#searchBar {
    border-radius: 5px;
    animation: none;
    outline-style : none;
    border-color: #212529;
}
