<app-header></app-header>

<h3>Books</h3>
<div class="search-bar">
    <fa-icon [icon]="faSearch"></fa-icon>&nbsp;
    <input id="searchBar" 
    type="text"
    placeholder="Search..."
    [(ngModel)]="searchValue">
</div>
<h4>Tags</h4>
<div class="book-tag">
    <mat-chip-list>
        <mat-chip *ngFor="let tag of tags" (click)="selectTag(tag.id);filterBooks()">{{ tag.name }}</mat-chip>
    </mat-chip-list>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let book of books | searchFilter: {title: searchValue}" class="col-lg-3 col-md-6 col-sm-8">
            <app-book-card [book]="book"></app-book-card>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngIf="searchValue.length == null && selectedTag == null">
            <div *ngFor="let book of books" class="col-lg-3 col-md-6 col-sm-8">
                <app-book-card [book]="book"></app-book-card>
                <br>
            </div>
        </div>
    </div>
</div>
