<app-header></app-header>
<div class="container-fluid">
  <form class="text-center p-5" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">

    <p class="h4 mb-4">Password reset</p>
  
    <input type="email" id="defaultFormEmail" formControlName="email" 
    class="form-control mb-4" placeholder="E-mail">
    <span *ngIf="email.invalid && email.touched">
      Wrong email format
    </span>
  
    <input type="password" id="resetFormPassword" formControlName="password"
    class="form-control mb-4" placeholder="New Password">
    <span *ngIf="password.invalid && password.touched">
      Think of a safer password!
    </span>

    <button [disabled]="passwordResetForm.invalid"  class="btn btn-secondary" type="submit">Reset Password</button>

    <p>Not a member?
      <a routerLink="/register">Register</a>
    </p>
  </form>
</div>

