@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
    background-color: #373c34 !important;
    font-family: 'Spartan', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
