.flex-container {
    display: flex;
}

.profile-details {
    flex: 1;
    margin-right: 2em;
    margin-left: 2em;
}

.others {
    flex: 2;
    color: white;
}

.profile-icon {
    margin: auto;
}

.profile-name {
    margin-top: 1em;
    color: white;
    margin-bottom: 2em;
}

.text-content {
    color: white;
}

.user-details {
    color: white;
}

.mat-tab-label, .mat-tab-body-content {
    font-family: 'Spartan', sans-serif !important;
    background-color: transparent;
    color: white;
}

.wishlist-content, .challenges-content, .stats-content {
    margin-top: 2em;
}

.wishlist-content {
    display: flex;
}

.bookContainer {
    width: 16em;
    max-width: 16em;
    margin-left: 2em;
    display: inline-block;
}

.rating-container {
    margin: 2em;
}

.rating-score {
    float: left;
}

.btn {
    float: right;
}