<app-header></app-header>
<div class="flex-container">
    <div class="profile-details">
        <div class="profile-icon">
            <fa-icon [icon]="faUser" size="10x"></fa-icon>
            <p class="profile-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
            <p class="text-content"> What we know <br> about you: </p>
            <div class="user-details">
                <p>Address: {{ currentUser.address }}</p>
                <p>Email: {{ currentUser.email }}</p>
                <p>Phone Nr: {{ currentUser.phoneNr }}</p>
            </div>
        </div>
    </div>
    <div class="others">
        <mat-tab-group mat-align-tabs="start" dynamicHeight>
            <mat-tab label="Wishlist">
               <div class="wishlist-content">
                    <div *ngFor="let book of bookmarkedBooks" class="bookContainer">
                        <app-book-card [book]="book" (childTriggeredEvent)="reloadBookmarks($event)"></app-book-card>
                    </div>
               </div></mat-tab>
            <mat-tab label="Challenges">
                <div class="challenges-content">
                    <mat-card *ngFor="let challenge of challenges" class="challenge-container">
                        <app-challenge [challenge]="challenge"></app-challenge>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Goals">
                <div class="goals-content">
                    <p>Add predefined goal</p>
                    <p>Add personalized goal</p>
                </div>
            </mat-tab>
            <mat-tab label="Stats">
                <div class="stats-content">
                    <p>Books read: (0)</p>
                    <p>Currently reading: (0)</p>
                    <p>Stats content</p> 
                </div>
            </mat-tab>
            <mat-tab label="Quotes">
                <div class="quotes-content">
                    <p>Add quotes from your favorite books</p>
                </div>
            </mat-tab>
            <mat-tab label="Ratings">
                <div class="ratings-content">
                    <mat-card *ngFor="let rating of userRatings" class="rating-container">
                        <p class="rating-score">Rating: {{ rating.score }} </p>
                        <span class="btn btn-secondary" (click)="openRatingModal(rating.assetId, rating.id)"><fa-icon [icon]="faPen"></fa-icon>&nbsp;&nbsp;Edit</span>
                        <br>
                        <div *ngIf="rating.review" class="review-content">
                            <p class="review-title">Review: </p>
                            <div class="review-text-container">
                                <fa-icon class="quote-left" [icon]="faQuoteLeft"></fa-icon>
                                <p class="review-text">{{ rating.review }}</p>
                                <fa-icon class="quote-right" [icon]="faQuoteRight"></fa-icon>
                            </div>
                        </div>
                        <p>for Book: <a [routerLink]="['/asset', rating.assetId]">{{ rating.ratedBook.title }} by {{ rating.ratedBook.author }}</a></p>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>